---
import { Image } from "astro:assets";
import testPic from "../assets/images/next.png";
---

<div class="fitContent">
  <div class="characterBox_container">
    <button class="charcterFirst" type="button">
      <Image src={testPic} alt="/" />
    </button>
    <button class="charcterSecond" type="button">
      <Image src={testPic} alt="/" />
    </button>
    <button class="charcterThird" type="button">
      <Image src={testPic} alt="/" />
    </button>
  </div>
</div>

<style>
  @media screen and (width > 750px) {
    @container (width > 200px) {
      .characterBox_container {
        margin-top: 0rem;
      }
    }
  }
  @media screen and (width < 749px) {
    @container (width < 500px) {
      .characterBox_container {
        margin-top: 1rem;
      }
    }
  }
  .fitContent {
    height: fit-content;
  }
  button {
  }

  .characterBox_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;

    background: rgba(118, 118, 118, 0.18);
    border-radius: 30px;
    padding: 0.5rem;
    > button {
      background: rgba(118, 118, 118, 0.18);
      border-radius: 30px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(118, 118, 118, 0.3);
      width: 100%;
      min-height: 3rem;

      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > * {
      background: rgba(118, 118, 118, 0.18);
      border-radius: 30px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(118, 118, 118, 0.3);
    }
  }

  .charcterFirst:hover {
    background-color: rgb(255, 115, 0);
  }

  .charcterSecond:hover {
    background-color: rgb(0, 0, 255);
  }
  .charcterThird:hover {
    background-color: rgb(98, 255, 0);
  }
  .charcterFirst:focus {
    background-color: rgb(255, 115, 0);
  }

  .charcterSecond:focus {
    background-color: rgb(0, 0, 255);
  }
  .charcterThird:focus {
    background-color: rgb(98, 255, 0);
  }
</style>
