---
// const { dataContent } = Astro.props;
// const { overskrift, text_info } = dataContent;

// console.log(dataContent);
---

<div class="sizeCheck">
  <div class="content_container">
    <h2>WHO AND WHAT AM I?</h2>
    <p>
      My name is Andreas, I am a young man in my 20s from Denmark who loves a challenge and enjoys pushing boundaries with design and front-end coding. I love being social and meeting new people. At the moment, I am studying at KEA - Copenhagen
      School of Design and Technology as a Multimedia Designer, with a main focus on front-end coding. Tasks I am particularly interested in would be coding and design assignments.<a
        target="”_blank”"
        href="https://www.linkedin.com/in/andreas-amadeu-568242260/">CV</a
      >
    </p>
  </div>
</div>

<style>
  @media (width > 900px) {
    .content_container {
      background: rgba(118, 118, 118, 0.18);
      border-radius: 30px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(118, 118, 118, 0.3);
      padding: 1rem 2rem 2rem 2rem;
      height: 100%;
    }
  }
  @container (width < 499px) {
  }
  .sizeCheck {
    container-type: inline-size;
    grid-column: -1;
    grid-row: 2;
  }

  h2 {
    line-height: 3rem;
  }

  p {
    padding: 1rem 0rem;
    line-height: 1.4rem;
  }
  a:hover {
    color: rgb(184, 67, 8);
  }
  a {
    color: rgb(236, 95, 24);
  }
</style>
