---

---

<div class="sizeCheck">
  <div class="content_container">
    <h2>Andreas as a worker</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</div>

<style>
  @media (width > 900px) {
    .content_container {
      background: rgba(118, 118, 118, 0.18);
      border-radius: 30px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(118, 118, 118, 0.3);
      padding: 1rem 2rem 2rem 2rem;
      height: 100%;
    }
  }
  @container (width < 499px) {
  }
  .sizeCheck {
    container-type: inline-size;
    grid-column: -1;
    grid-row: 2;
  }

  h2 {
    line-height: 3rem;
  }

  p {
    line-height: 1.4rem;
  }
</style>
