---

---

<div>
  <h1>Hello!</h1>
</div>

<style>
  div {
    display: none;
  }
  @media screen and (width < 793px) {
    h1 {
      color: #191919;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      font-size: 7rem;
    }
    div {
      display: block;
      display: flex;
      justify-content: center;
    }
  }
</style>
